:root {
    --red: #FE4a49;
    --blue: #009fb7;
    --yellow: #fed766;
    --grey: #D3d3da;
    --white: #f4f4f8;

    --darkRed:#FE3434;
}

.Bar{
    width: 100%;
    height: 100px;

    font-style: "bfast";


    display: flex;

    align-items: center;
    outline: none;
}

.Title{
    font-size:x-large;
    color: black;
    margin-left: 5%;
    margin-right: 40%;
    font-weight: bolder;
}

.Button{
    height: 100%;
    width: 7%;

    background-color: var(--red);
    color: black;
    /* margin-right: 2%;     */
    font-size: large;
    font-weight: 500;

    border: none;
}

.Button:hover, .Button:focus{
    background-color: var(--darkRed);
    border : none;
}
