:root {
  --red: #fe4a49;
  --blue: #009fb7;
  --yellow: #fed766;
  --grey: #d3d3da;
  --white: #f4f4f8;
}

.Cart {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
}

.Cart-Holder {
  margin-top: 3%;
  height: 75%;
  width: 65%;
  margin-left: 5%;
  margin-right: 2.5%;
  outline: 2px solid black;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
}

.Payment-Holder {
  width: 25%;
  height: 45%;
  margin-top: 3%;
  margin-right: 2%;
  outline: 2px solid black;
  border-radius: 15px;
}

.Payment-Description {
  margin: 3%;
  font-size: 30px;
  font-size: 2.5vw;
}

.Payment-Items {
  font-size: 30px;
  font-size: 1.3vw;
  margin-top: 7%;
}

.Payment-Button {
  background-color: var(--blue);
}

.Item-Holder {
  height: 100%;
  width: 100%;

  /* background-color: black; */
  align-self: center;

  display: grid;
  grid-template-columns: 20% 50% 20%;

  grid-template-areas: "picture name  price", "picture name price",
    "picture name price";

  row-gap: 5px;
  justify-content: space-evenly;
}

.Item-Name-Holder {
  /* margin-left: 5%; */
  margin-top: 3%;

  /* background-color: black; */
  grid-area: "name";
}

.Item-Name-Option {
  margin-top: 15%;
}

.Item-Name {
  font-size: 2.3em;
}

.Item-Picture-Holder {
  grid-area: "picture";
  /* background-color: blue; */
}

.Item-Picture {
  margin-top: 5%;
  height: 80%;
  width: 70%;
  object-fit: contain;
}

.Item-Price-Holder {
  grid-area: "price";
  /* background-color: greenyellow; */
}

.Item-Price {
  margin-top: 10%;
  text-align: right;
  margin-right: 8%;
  font-size: 2em;
}
