:root {
    --red: rgba(168, 30, 30, 0.4);
  }
  
  .Container {
    display: flex;
    flex-direction: column;
  }
  
  .InputContainer {
    margin-left: 2%;
    width: 100%;
    margin-top: 5%;
    background-color: transparent !important;
    align-items: center;
  }
  
  .Modal {
    background-color: var(--red);
  }
  
  .InputContainer {
    margin-left: 2%;
    width: 100%;
    margin-top: 5%;
    align-items: center;
    border-radius: 25px;
  }
  
  .Input {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 2%;
  }
  
  .TextArea {
    width: 90%;
  }
  
  #Modal-Part {
    background-color: white;
  }
  
  .rolePrompt{
    margin-right: 2%;
  }