.Admin-Bar {
  width: 100%;
  height: 7%;
  background-color: var(--yellow);
  /* background-color: black; */

  /* top: 0px; */
  /* bottom: 0px; */
  /* position: fixed; */

  display: flex;
  flex-direction: column;
}

#text {
  background-color: var(--yellow);
}
