.Admin-Bar {
  width: 20%;
  height: 100%;
  background-color: var(--yellow);
  /* background-color: black; */

  top: 0px;
  bottom: 0px;
  position: fixed;

  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
#text {
=======
h1,
div {
>>>>>>> 32f672df2b01f3090dad33175a5e75c12ae84222
  background-color: var(--yellow);
}
