.Task {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  border: 2px solid black;
}

.Task-Header {
  height: 15%;
  display: flex;
  align-items: center;
  text-indent: 4%;
}

.Task-Content {
  grid-area: body;

  height: 70%;

  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;

  overflow-y: scroll;
}

.Task-Footer {
  height: 15%;
  width: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.Task-Item {
  height: 30%;
  /* border-bottom: 2px solid gray; */
  border-top: 2px solid gray;

  display: grid;

  grid-template-columns: 0.5fr 6fr 0.5fr;
  grid-template-rows: 1fr 0.75fr 1fr;
  grid-template-areas:
    "check text text text buttons"
    "check text text text buttons"
    "check author author author buttons";

  column-gap: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.Check {
  grid-area: check;
  /* background-color: black; */
  display: flex;
  align-items: center;
}

.Check-Button {
  width: 50%;
  height: 25%;

  display: block;
}

.Text {
  grid-area: text;
  display: flex;
  align-items: center;

  border-bottom: 2px solid gray;
}

.Author {
  grid-area: author;
  display: flex;
  align-items: center;
}

.Buttons {
  grid-area: buttons;
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.Buttons-Check,
.Buttons-Delete {
  height: 70%;
  width: 100%;
  border: 1px solid black;
  z-index: 10;
}

.Footer-Button {
  width: 15%;
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
}

.Add-Task {
  background-color: transparent;
}

#Task-Text {
  background-color: whitesmoke;
}
